.Rproj.user
.Rhistory
.RData
.Ruserdata
phifunc_token
*~
outputs/
data/raw/for_quick_loading/
data/clean/final_dat*
README.knit.md
README.utf8.md
synthesis/
outputs/ELR_outputs/
report_sources/ELR_evaluation.html
